*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#header{
    height: 45px;
    width: 100%;
   background-color: #2874f0;
     display: flex;
     /* justify-content: space-around; */
     align-items: center;
}
.header1{
    margin-left: 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   margin-left:150px ;
   margin-right: 5px;
}
.header1>img{
    width: 75px;
    padding-top: 50px;
}
.header1>.header11{ 
     padding-bottom: 45px;
}

/* ------------------------------------------------------------------- */
.header2{
    display: flex;
    align-items: center;
    background-color: white;
    margin-left: 12px;
}
.header2>input{
    border: none;
    outline: none;
    width:31vw;
    padding: 8px 13px;
    font-size: 11.5px;
}
/* ---------------------------------------------------------------- */
.header3{
    display: flex;
    align-items: center;
    margin: 15px;
}
#header>.header3>button{
   border: none;
   outline: none;
   width: 9vw;
   height: 25px;
   color: #2874f0;
   font-weight:bold;
   font-size: 12px;
   cursor:pointer;
    /* padding: 7px;  */
}
#header>.header4{
    display: flex;
    align-items: center;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .2px;
    margin-left: 15px;
}
/* ----------------------------------------------------------- */
#header>.header5{
    display: flex;
    align-items: center;
    color: white;
    margin-left: 25px;
}
#header>.header5>span{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .2px;
}
/* ------------------------------------------------------------ */

#header>.header6{
    display: felx;
    align-items: center;
    margin-left: 34px;
}
#header>.header6>span{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12.5px;
    font-weight: bold;
    letter-spacing: .2px;
    color: white;
    /* margin-bottom: 10px; */
}